@media (max-width: 372px) {
    .prueba-css {
      gap: 250px;
      margin-top: 6px;
    }

    .acara-css{
      top:5.3rem !important;
      left: 0 !important;
    }

  }
  @media (max-width: 954px) and (min-width: 768px) {
    .mi-clase {
      left: 0 !important;
      top: 7.7rem!important;
    }
  }

  @media (max-width: 986px) and (min-width: 955px) {
    .mi-clase-2 {
      left: 0 !important;
      top: 6.2rem!important;
    }
  }

  @media (max-width: 1210px) and (min-width: 987px) {
    .mi-clase-3 {
      right: 0 !important;
      top: 4.8rem!important;
    }
  }

  @media (max-width: 1242px) and (min-width: 1211px) {
    .mi-clase-4 {
      left: 0 !important;
      top: 4.7rem!important;
    }
  }
  
  
  